In [52]:
import yfinance as yf
import pandas as pd
import numpy as np
from pymongo import MongoClient
import datetime
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
from talib import abstract
import math

## This is to Convert a string representation of list into list 
import ast

from functools import partial

In [73]:
mydict={}
with open('tcs.txt', 'r') as file:
    data = file.read().rstrip()
    data=ast.literal_eval(data)

    
df=pd.DataFrame(data,columns =['DateTime','Open','High','Low','Close','Volume','NA'])
df['DateTime']=df['DateTime'].astype('datetime64[ns]')
df['DateTime']=df['DateTime'].dt.tz_localize("GMT").dt.tz_convert('Asia/Kolkata')
df.set_index('DateTime',inplace=True)

In [74]:
df

                              Open     High      Low    Close   Volume  NA
DateTime
2020-08-24 09:15:00+05:30  2250.60  2256.80  2230.00  2238.35   928832   0
2020-08-24 11:15:00+05:30  2238.35  2259.30  2237.00  2244.00   571285   0
2020-08-24 13:15:00+05:30  2244.00  2251.95  2240.60  2246.50   521680   0
2020-08-24 15:15:00+05:30  2246.45  2251.00  2246.00  2251.00   141419   0
2020-08-25 09:15:00+05:30  2245.00  2247.50  2235.70  2242.50   621714   0
...                            ...      ...      ...      ...      ...  ..
2021-02-18 15:15:00+05:30  3054.10  3056.50  3049.45  3055.00   317788   0
2021-02-19 09:15:00+05:30  3058.00  3064.70  3016.20  3032.65  1273636   0
2021-02-19 11:15:00+05:30  3032.90  3047.95  3027.90  3047.95   659010   0
2021-02-19 13:15:00+05:30  3047.90  3086.85  3035.85  3069.05  1514858   0
2021-02-19 15:15:00+05:30  3069.10  3079.95  3065.90  3078.00   270009   0

[501 rows x 6 columns]