In [1]:
import yfinance as yf
import pandas as pd
import numpy as np
from pymongo import MongoClient
import datetime
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
from talib import abstract
import math

## This is to Convert a string representation of list into list 
import ast

from functools import partial

In [2]:
mydict={}
with open('nifty_3min.txt', 'r') as file:
    data = file.read().rstrip()
    data=ast.literal_eval(data)

    
df=pd.DataFrame(data,columns =['DateTime','Open','High','Low','Close','Volume','NA'])
df['DateTime']=df['DateTime'].astype('datetime64[ns]')
df['DateTime']=df['DateTime'].dt.tz_localize("GMT").dt.tz_convert('Asia/Kolkata')
df.set_index('DateTime',inplace=True)

In [3]:
df

                               Open      High       Low     Close  Volume  NA
DateTime
2022-01-25 09:15:00+05:30  17001.55  17001.55  16868.95  16877.90       0   0
2022-01-25 09:18:00+05:30  16875.35  16891.55  16837.85  16890.35       0   0
2022-01-25 09:21:00+05:30  16890.40  16956.40  16882.15  16956.40       0   0
2022-01-25 09:24:00+05:30  16958.20  16981.40  16946.20  16979.70       0   0
2022-01-25 09:27:00+05:30  16981.60  17006.55  16955.40  16978.70       0   0
...                             ...       ...       ...       ...     ...  ..
2022-02-24 15:15:00+05:30  16275.65  16278.35  16232.75  16235.05       0   0
2022-02-24 15:18:00+05:30  16234.15  16246.20  16215.00  16226.55       0   0
2022-02-24 15:21:00+05:30  16227.35  16233.40  16218.15  16221.50       0   0
2022-02-24 15:24:00+05:30  16222.60  16226.85  16214.90  16219.75       0   0
2022-02-24 15:27:00+05:30  16219.30  16223.50  16204.40  16217.75       0   0

[2750 rows x 6 columns]