In [43]:
import yfinance as yf
import pandas as pd
import numpy as np
from pymongo import MongoClient
import datetime
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
from talib import abstract
import math

from functools import partial

In [2]:
#Download Data from yahoo
### TEST Scnarios - TCS- Bull ,ACC- modrate up (Sidewase),YESBank- Back to Zero ,ITC(stock dosnt even Move)
stock='YESbank'
startdate='2007-01-01'
enddate='2022-01-01'
exchange=['.NS','.BO']
dfo = yf.download(stock+exchange[0],start=startdate)

[*********************100%***********************]  1 of 1 completed

In [8]:
def pxline(to_plot):
    fig = px.line(to_plot)
    fig.show()

In [62]:
df=dfo.copy()
df['P_Daily_Change']=df['Close'].pct_change().apply(lambda x: round(x,2))
df.dropna(inplace=True)

In [59]:
##[pos]-->11 buy
##[pos]-->1 Continue
##[pos]-->0 Sell
def conditions(df):
    
    df['In']=np.where(df['Close'].shift(1)>df['High'].shift(2).rolling(84).max(),1,0)
    df['Out']=np.where(df['Close']<df['Low'].shift(1).rolling(21).min(),0,1)
    
    for i in df.index:
        df.at[i,'pos']=str(df['In'][i])+str(df['Out'][i])
    df['pos']=df['pos'].astype(str).astype(int)
    return df

In [63]:
df=conditions(df=df)

In [169]:
port=pd.DataFrame(df.index).assign(Cash=0)
port.set_index('Date',inplace=True)
port.iloc[0,0]=100000

In [17]:
# fig = make_subplots(specs=[[{"secondary_y": True}]])

# # Add traces
# fig.add_trace(
#     go.Scatter(x=df.index, y=df['Close'], name="Close"),
#     secondary_y=False,
# )

# fig.add_trace(
#     go.Scatter(x=df.index, y=df['pos'], name="pos"),
#     secondary_y=True,
# )

# fig.show()

In [141]:
port.head()

              Cash
Date
2007-01-03  100000
2007-01-04       0
2007-01-05       0
2007-01-08       0
2007-01-09       0

In [178]:
df.head()

,Open,High,Low,Close,Adj Close,Volume,P_Daily_Change,In,Out,pos
Date,,,,,,,,,,
2007-01-03,28.200001,28.520000,27.620001,27.920000,24.888411,1069665,-0.01,0,1,1
2007-01-04,28.200001,28.240000,27.250000,27.650000,24.647732,999885,-0.01,0,1,1
2007-01-05,27.600000,28.600000,27.410000,27.690001,24.683390,1391235,0.00,0,1,1
2007-01-08,27.799999,27.900000,27.500000,27.650000,24.647732,812980,-0.00,0,1,1
2007-01-09,27.830000,28.190001,27.420000,27.530001,24.540762,825735,-0.00,0,1,1

In [108]:
assets=['YesBank']

In [187]:
for asset in assets:
    globals()[asset]=pd.DataFrame(df.index).assign(ACash=0,Trade_Count=0,PositionDays=0,BuyPrice=0,ABuyPrice=0,SellPrice=0,CurrentPrice=0,Quantity=0,DailyPNL=0,DailyPerChange=0)
    globals()[asset].set_index('Date',inplace=True)
    globals()[asset].iloc[0,0]=100000

In [198]:
df['P_Daily_Change']['2007-05-21']

-0.03

In [195]:
YesBank.loc[YesBank['PositionDays']!=0]

,ACash,Trade_Count,PositionDays,BuyPrice,ABuyPrice,SellPrice,CurrentPrice,Quantity,DailyPNL,DailyPerChange
Date,,,,,,,,,,
2007-05-18,0,1,1,0,0,0,0,0,0,0
2007-05-21,0,1,2,0,0,0,0,0,0,0
2007-05-22,0,1,3,0,0,0,0,0,0,0
2007-05-23,0,1,4,0,0,0,0,0,0,0
2007-05-24,0,1,5,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
2022-02-10,0,1,52,0,0,0,0,0,0,0
2022-02-11,0,1,53,0,0,0,0,0,0,0
2022-02-14,0,1,54,0,0,0,0,0,0,0
2022-02-15,0,1,55,0,0,0,0,0,0,0
2022-02-16,0,1,56,0,0,0,0,0,0,0

In [193]:
pos=0
for i in df.index:
    if i != df.index[0]:
        buy= (df['pos'][i]== 11) and (df['pos'].shift(1)[i]==1)
        sell= (df['pos'][i]== 0) and (df['pos'].shift(1)[i]==1)
        
        if pos==0:
            if buy: # Buy Triggred
                pos=1
                current_price=df['Close'][i]
                YesBank.at[i,'Trade_Count']=1
                
            else : # Neither Not in Trade at this moment
                pass
            
            
        if pos==1 and YesBank['PositionDays'][i] >0:   ## Exit only if its been 1 day minimum in trade
                        
            if sell: # Sell Triggred
                pas=0
                YesBank.at[i,'Trade_Count']=0
                YesBank.at[i,'PositionDays']=0
                
            else: #Already in Buy Position just updated this day with % change, Daily Change and Cummulative Change
                current_price=df['Close'][i]
                YesBank.at[i,'Trade_Count']=1
                YesBank.at[i,'PositionDays']=YesBank['PositionDays'].shift(1)[i]+1
                Today_Change=df['P_Daily_Change'][i]
                print(f'% Change is {Today_Change}')
                YesBank.at[i,'DailyPerChange']=Today_Change
                
                
                
                
        elif pos==1: #Already in Buy Position just updated this day with % change, Daily Change and Cummulative Change
            current_price=df['Close'][i]
            YesBank.at[i,'Trade_Count']=1
            YesBank.at[i,'PositionDays']=YesBank['PositionDays'].shift(1)[i]+1
            YesBank.at[i,'DailyPerChange']=df['P_Daily_Change'][i]

In [55]:
master

Empty DataFrame
Columns: [Capital, Capdist, Assetdist, Asset, Trade#]
Index: []