In [3]:
import pandas as pd
import numpy as np

In [4]:
df1 = pd.DataFrame(np.random.randint(25, size=(4, 4)),
                   index=["1", "2", "3", "4"],
                   columns=["A", "B", "C", "D"])

In [5]:
df=pd.DataFrame()

In [6]:
df1

    A   B   C   D
1   3   6   2  17
2  22  18  22   6
3   3  12  21   2
4  11  22  19   3

In [8]:
pd.concat([df,df1],axis=0)

    A   B   C   D
1   3   6   2  17
2  22  18  22   6
3   3  12  21   2
4  11  22  19   3

In [9]:
window=[252,300]
for i in window:
    print (i)

252
300

In [40]:
window=10
alpha=1/10
weights=list(reversed([(0.05)**n for n in range(window)]))
weights

[1.953125000000001e-12,
 3.906250000000002e-11,
 7.812500000000003e-10,
 1.5625000000000006e-08,
 3.125000000000001e-07,
 6.250000000000001e-06,
 0.00012500000000000003,
 0.0025000000000000005,
 0.05,
 1.0]

In [41]:
sum(weights)

1.0526315789472656

In [39]:
1/20

0.05