In [1]:
import pandas as pd
from pymongo import MongoClient
import pymongo
import json

Listing all folders from where we need to read the files

In [2]:
import glob
folders=glob.glob("C:\\Users\\admin\\Desktop\\Trding Data\\Old-Data\\Indexes\\*")

In [3]:
folders

['C:\\Users\\admin\\Desktop\\Trding Data\\Old-Data\\Indexes\\indiavix-2018.csv',
 'C:\\Users\\admin\\Desktop\\Trding Data\\Old-Data\\Indexes\\indiavix-2019.csv',
 'C:\\Users\\admin\\Desktop\\Trding Data\\Old-Data\\Indexes\\indiavix-2020.csv',
 'C:\\Users\\admin\\Desktop\\Trding Data\\Old-Data\\Indexes\\indiavix-2021.csv',
 'C:\\Users\\admin\\Desktop\\Trding Data\\Old-Data\\Indexes\\nifty50-2018.csv',
 'C:\\Users\\admin\\Desktop\\Trding Data\\Old-Data\\Indexes\\nifty50-2019.csv',
 'C:\\Users\\admin\\Desktop\\Trding Data\\Old-Data\\Indexes\\nifty50-2020.csv',
 'C:\\Users\\admin\\Desktop\\Trding Data\\Old-Data\\Indexes\\nifty50-2021.csv',
 'C:\\Users\\admin\\Desktop\\Trding Data\\Old-Data\\Indexes\\niftyBank-2018.csv',
 'C:\\Users\\admin\\Desktop\\Trding Data\\Old-Data\\Indexes\\niftyBank-2019.csv',
 'C:\\Users\\admin\\Desktop\\Trding Data\\Old-Data\\Indexes\\niftyBank-2020.csv',
 'C:\\Users\\admin\\Desktop\\Trding Data\\Old-Data\\Indexes\\niftyBank-2021.csv']

In [4]:
df=pd.read_csv('C:\\Users\\admin\\Desktop\\Trding Data\\Old-Data\\Indexes\\indiavix-2018.csv')
list(df.columns)

['Date ',
 'Open ',
 'High ',
 'Low ',
 'Close ',
 'Prev. Close ',
 'Change ',
 '% Change']

In [5]:
df=df.rename(str.strip, axis = 'columns')

In [6]:
list(df.columns)

['Date', 'Open', 'High', 'Low', 'Close', 'Prev. Close', 'Change', '% Change']

In [7]:
df

,Date,Open,High,Low,Close,Prev. Close,Change,% Change
0,01-Jan-2018,12.6700,13.6125,12.5450,13.3525,12.6700,0.68,5.39
1,02-Jan-2018,13.3525,13.8425,12.6050,13.6850,13.3525,0.33,2.49
2,03-Jan-2018,13.6850,13.7150,12.7650,13.6225,13.6850,-0.06,-0.46
3,04-Jan-2018,13.6225,13.7925,12.1825,13.4150,13.6225,-0.21,-1.52
4,05-Jan-2018,13.4150,13.4150,12.4200,13.1125,13.4150,-0.30,-2.25
...,...,...,...,...,...,...,...,...
241,24-Dec-2018,15.9925,17.1325,14.8975,15.7500,15.9925,-0.24,-1.52
242,26-Dec-2018,15.7500,17.4775,14.8075,15.9200,15.7500,0.17,1.08
243,27-Dec-2018,15.9200,16.3750,12.5625,16.0725,15.9200,0.15,0.96
244,28-Dec-2018,16.0725,16.0725,15.0150,15.2700,16.0725,-0.80,-4.99
245,31-Dec-2018,15.2700,16.1525,14.6500,16.0000,15.2700,0.73,4.78

**Spliting the filename from its path to add it in df.

In [8]:
#old_name='C:\\Users\\admin\\Desktop\\Trding Data\\Old-Data\\Indexes\\indiavix-2018.csv'
#file_name=old_name.split('\\')[-1:][0].split('.')[0].split('-')[0]
#file_name=file_name[0].split('.')[0].split('-')[0]
#file_name

*Adding column 'Symbol' in df and then changing its location to 1st position

In [9]:
#df['Symbol']=file_name
#cols = df.columns.tolist()
#cols = cols[-1:] + cols[:-1]
#df = df[cols]
#df

# Fetching name of each .csv files from all folders and storing in file_list List

In [10]:

#file_list=[]
#for index in range(len(folders)):
#    fd=folders[index]+"\*.csv"
#    ls=glob.glob(fd)
#    for x in range(len(ls)):
#        file_list.append(ls[x])


Reading Each .csv file stored in file_list and storing it in DB 'Stockmarket' under collection 'master_tbl' in mongo DB

In [11]:
m_client=pymongo.MongoClient()
db=m_client["StockMarket"]
for index in range(len(folders)):
    df=pd.read_csv(folders[index])
    # Fetching filename to set as symbol
    old_name=folders[index]
    file_name=old_name.split('\\')[-1:][0].split('.')[0].split('-')[0]
    #adding Symbol colomn setting to filename
    df['Symbol']=file_name
    # rearranging Symbol coulmn to first  Place
    cols = df.columns.tolist()
    cols = cols[-1:] + cols[:-1]
    df = df[cols]
    # Striping space from columns names
    df= df.rename(str.strip, axis = 'columns')
    data=df.to_dict(orient='records')
    if file_name=='indiavix':        
        db.vix_master_tbl.insert_many(data)
    else:
        db.indexs_master_tbl.insert_many(data)

In [12]:

m_client=pymongo.MongoClient()
db=m_client["StockMarket"]
indexs_master_data=db.indexs_master_tbl.find()
indexs_master_df=pd.DataFrame(list(indexs_master_data))
vix_master_data=db.vix_master_tbl.find()
vix_master_df=pd.DataFrame(list(vix_master_data))

In [13]:
def create_indexs_tbl():
    index_name=indexs_master_df.Symbol.unique()
    index_name=index_name.tolist()
    datalist=[]
    for i in range(len(index_name)):    
        df=indexs_master_df.loc[indexs_master_df.Symbol==index_name[i]]
        df=df.drop(labels=['_id','Turnover (Rs. Cr)'],axis=1)
        df=df.rename(columns={'Shares Traded':'Volume'})
        df=df[['Date','Symbol','Open','High','Low','Close','Volume']]
        p_change=df['Close'].pct_change()*100
        df['p_change']=p_change.round(2)
        df=df.dropna()
        data=df.to_dict(orient='records')
        #db.indexs.create_index([("Date", pymongo.ASCENDING), ("Symbol", pymongo.ASCENDING)])
        db[index_name[i]].insert_many(data)
        datalist.append(data)
    #return datalist,index_name

In [14]:
create_indexs_tbl()